<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  
<!-- Navbar brand -->
<logo><a class="navbar-brand" href="#">The Artificial Reviewer
    <img class="grow" style="width:230px" style="height: 60px" 
    src= "./assets/icon3.png"
    alt="icon">

</a></logo>

<!-- Collapsible content -->
<links>

<!-- Links -->
<ul class="navbar-nav mr-auto">
   <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/list']" class="nav-link waves-light" mdbRippleRadius>Booklist</a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/reviewer']" class="nav-link waves-light" mdbRippleRadius>reviewer</a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']">
    <a [routerLink]="['/reviewerPdf']" class="nav-link waves-light" mdbRippleRadius>reviewerPdf</a>
</li>

</ul>
<!-- Links -->

</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->