

<div class="container" style="height: 100%;">
  <div class="row" >
   
    
      <div  class="col-md-9" >
        <div style="margin-left: 35%;" >
        <div>
          <label> Pdf src </label>
          <input (change)="onFileSelected()" type="file" id="file">
          <!--<input [(ngModel)]="page" type="text" id="page">-->
        </div>
        <button type="button" style="margin-left: 8.8%;" (click)="GetReview($event)" class="btn btn-primary" mdbWavesEffect aria-disabled="true" >Review</button> 
      </div>
        <input  mdbInputDirective type="text" name="title" [(ngModel)]="titlebook"  class="form-control">
        <pdf-viewer [src]="pdfSrc"
          [render-text]="true"
          [show-all]="true"
          style="display: block;"
          (text-layer-rendered)="textLayerRendered($event)">
        </pdf-viewer>
        
        <!--<button type="button" (click)="test($event)" class="btn btn-outline-success" mdbWavesEffect>test</button> -->
      </div>

    <div  class="col-md-3"  > 
        <ng-progress [thick]="true" ></ng-progress>
        <div class="checkbox">
            <label>
              <input type="checkbox" data-toggle="toggle" [(ngModel)]="toggle" >
              Random generated reviews <!-- ({{toggle}}) -->
            </label>
          </div>
      <h6>Review:</h6>
      <div *ngIf="finalReview"> 
      <ng-progress [toggle]="false"></ng-progress>
      <p >{{finalReview}}</p>
    </div>
    </div>
    
   
    
    
  </div>
</div>