.container
{
    float: left;
    padding: 2%;
    width: 50%;
    align-content: center;
    text-align: center;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.grow{
    float: left;
}
.growR{
    margin: 0px;
}

.growR:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        margin-top: 7%;
        margin-left: 15%;
        width: 70%;
}

.growT:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        margin-left: 20%;
}
.title
{
font-weight: bold;
   // margin-left: 25%;
}

.review
{
 margin-top: 7%;
 margin-left: 28%;
 width: 70%;

}