
<div *ngFor="let d of books" class="container">
  <div>
  <img class="grow" style="width:300px"  style="height: 300px" 
  src= {{d.imgUrl}}
  alt="foto book"></div>
  <div class="growT" >
  <h4 class="title">{{d.title}}</h4>
  </div>
  <div class="growR" >
   <p class="review">{{d.review}}</p>
  </div>
</div>