

<div class="container" style="height: 100%;">
  <div class="row" >
   
    <div  class="col-md-2"> 
      <div style="margin-top:60%">
     <p> Text from book here -> </p>
    </div>
    </div>

      <div  class="col-md-7" >
        <div class="md-form">
          <h6>Your book:</h6>
          <input mdbInputDirective type="text" name="title" [(ngModel)]="titlebook"  class="form-control">
          <textarea class="form-control" type="textarea" rows="20" [(ngModel)]="book"></textarea>
        </div> 
        <button type="button" (click)="GetReview($event)" class="btn btn-primary" mdbWavesEffect>Review</button>
        <!--<button type="button" (click)="test($event)" class="btn btn-outline-success" mdbWavesEffect>test</button> -->
      </div>

    <div  class="col-md-3"  > 
        <div class="checkbox">
            <label>
              <input type="checkbox" data-toggle="toggle" [(ngModel)]="toggle" >
              Random generated reviews <!-- ({{toggle}}) -->
            </label>
          </div>
      <h6>Review:</h6>
      <div *ngIf="finalReview"> 
       <ng-progress [toggle]="false"></ng-progress>
       <p >{{finalReview}}</p>
    </div>
    </div>
    
   
    
    
  </div>
</div>